<div class="jumbotron text-center bg-info" style="margin-bottom:0">
    <h1>E Learning Center</h1>
    <p>Resizable responsive page!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Tutorials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="list">Students</a>
          <a class="dropdown-item" routerLink="list">Staffs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Search</a>
        </div>
      </li>    
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Logout</a>
      </li>
    </ul>
  </div>  
</nav>

<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-3">
      <h3>Featured</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="articles">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="articles">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
  
<div class="jumbotron text-center" style="margin-bottom:0">
  <div class="social-section text-center">
    <ul>
      <a routerLink="" routerLinkActive="active" class="btn-floating btn-sm btn-fb">
        <i class="facebook icon-circle">f</i>
      </a>
      <a routerLink="" routerLinkActive="active" class="btn-floating btn-sm btn-tw">
        <i class="twitter icon-circle">t</i>
      </a>
      <a routerLink="" routerLinkActive="active" class="btn-floating btn-sm btn-li">
        <i class="linkedin icon-circle">In</i>
      </a>
    </ul>
  </div>
  <div class="footer-copyright text-center">
    @2020 Copyright: <a routerLink="home" routerLinkActive="active">E Learning Center</a>
  </div>
</div>
