<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>E Learning Center</h1>
  <p>Resizable responsive page!</p> 
</div>
  
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>    
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>  
</nav>
  
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About</h2>
      <p>Welcome to E Learning Center. It is Affordable, Accessible and Availbale to all.</p>
      <h3>Highlights</h3>
      <p>Important links.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active bg-info" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Nov 1, 2019</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Details of the event.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Oct 25, 2019</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Details of the event.</p>
    </div>
  </div>
</div>
  
<div class="jumbotron text-center" style="margin-bottom:0">
  <div class="social-section text-center">
    <ul>Follow:
      <a routerLink="" routerLinkActive="active" class="btn-floating btn-sm btn-fb">
        <i class="facebook icon-circle">f</i>
      </a>
      <a routerLink="" routerLinkActive="active" class="btn-floating btn-sm btn-tw">
        <i class="twitter icon-circle">t</i>
      </a>
      <a routerLink="" routerLinkActive="active" class="btn-floating btn-sm btn-li">
        <i class="linkedin icon-circle">In</i>
      </a>
    </ul>
  </div>
  <div class="footer-copyright text-center">
    @2020 Copyright: <a routerLink="/home" routerLinkActive="active">E Learning Center</a>
  </div>
</div>
<router-outlet></router-outlet>